/*menu footer*/
h5{
  color: #000;
}
/*imagenes footer*/
footer .row{
  max-width: 100%!important;
}
@media (min-width:430px)  {
  .row {
    font-size: 15px;
  }
  .footer{
    border-top: 1px solid #e5e5e5;
    display: flex;
    padding: 25px 0;
    flex-direction: row;
  }
  .menu-footer{
    padding-left: 10px;
    color: #6D6D6D;
  }
  /*departments*/
  .depa{
    padding-left: 5px;
    display: flex;
    flex-direction: column(2);
  }
  .menu-departments{
    display: flex;
    color: #6D6D6D;
  }
  /* most */
.most{
  border-bottom: 1px solid #6D6D6D;
  padding: 3px;
}
.menu-most{
  display: flex;
  color: #6D6D6D;
  margin-left: 10px;
}
.text-most{
  margin-left: 25px;
}
  /* quiz */
.quiz{
  padding: 20px;
}
 /*app*/
  .app{
    padding-bottom: 20px;
  }
  .socialzar{
    font-size: 30px;
    padding-left: 5px;
  }
  /*yourMail*/
  .registrar{
   padding: 20px;
  }
  .yourMail{
    display: flex;
    flex-direction: row;
  }
  .email{
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    background-color: #000;
    color: #fff;
    width: auto;
  }
@media (min-width:668px)  {
  .footer{
    border: 1px solid #e5e5e5;
    padding: 20px;
    border-left: none;
    border-right: none;
    padding-left:20px;
  }
  .menu-footer{
    padding-left: 10px;
    color: #7b7b7b;
  }
  .depa{
    border-bottom: 1px solid #e5e5e5;
    padding: 25px;
    height: 250px;
    display: block;
  }
  .menu-departments{
    display: flex;
    color: #7b7b7b;
  }
  /*most*/
  .most{
    border: 1px solid #e5e5e5;
    padding: 25px;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-left: 5px;
    height: 250px;
    display: inline;
    margin-left: 0;
    margin-right: 0;
  }
  .menu-most{
    display: flex;
    flex-wrap: wrap;
    color: #7b7b7b;
    margin-left: 10px;
    flex-direction: column;
  }
  .text-most{
    margin-left: 25px;
  }
}
