body, html {
	background-color: #fff !important;
}
/*MENU*/
/*ALERT: es de fondo negro con letras blancas
sucess: es de fondo blanco con letras negras*/
header {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	width: 100%;
}
#menu .row {
	display: flex;
	align-items: center;
	padding: 7px 0;
	font-size: 21px;
}
#menu div {
	display: inline-block;
}
#menu > div .small-4 span {
	font-size: 21px;
	margin-right: 12px;
}
#menu div:first-child a {
	cursor: pointer;
}
#menu > div:nth-child(2) {
	background: #fff;
}
#menu > div:nth-child(2) img {
	width: 70px;
	cursor: pointer;
}
.box-icon , .fi-list {
	color: gray;
	font-size: 24px;
	cursor: pointer;
	margin-right: 14px;
}
.box-icon {
	transform: scaleX(-1);

}
.box-icon span:hover{
	color: black;
}
#palabras {
	margin-top: 100px;
}


@media (min-width:641px)  {
	#menu .row {
		    font-size: 15px;
	}
	[name="search"] {
		transform: scaleX(-1);
		display: inline-block;
	}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  {
	#menu .row {

		font-size: 170px;
	}/* tablet, landscape iPad, lo-res laptops ands desktops */ }
